//.main > footer.page-footer {
//  display: none;
//}

@media screen and (max-width: 600px) {
  .main > footer.page-footer {
    display: block;
  }
}


footer.page-footer {
  font-size: var(--font-size-sm);
  //background-color: red; //var(--header-bg-color);
  
  border-top: var(--border);
  padding: 1.5em;

  text-align: center;
  
  z-index: 2;

  .badges {
    padding: 1em 0;
    display: flex;
    justify-content: center;

    span.badge {
      display: block;
      padding-top: 0.5em;
      padding-right: 1em;

      
      @media screen and (max-width: 600px) {
        display: inline-block;
        padding-top: 0;
      }
    
    }        
  }
}
