# Thumbnails
._*

### IDE ###
*.sublime-workspace
*.sublime-project
.vscode

# App specific
coverage
node_modules
bower_components
.tmp
npm-debug.log*
.turbo
.bkp

# others
**/build
**/dist
**/issues
**/codepen
**/.npmignore
**/TODO.lst
**/.old
**/test/bundle.js

**/arredemo
packages/miolo/template
./demo/**