


div.todos-header {
  h1 {
    text-align: center;
  }

  div.todos-add {
    text-align: center;
    display: flex;
    justify-content: center;
    
    width: 100%;
    flex-wrap: wrap;

    padding: 0 5em;
  }
}

div.todos-body {
  overflow-y: scroll;
  height: 500px;
  padding: 1em;
  margin: 1em 0;  
}


/* todos gradients */
ol.todos-list 
{
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;

  > li.todo 
  {
    //background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(135deg, var(--gradient-color-secondary) 0%,var(--gradient-color-main) 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }

    &::before {
      align-items: flex-end;
      box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
      content: counter(gradient-counter);
      display: flex;
      font-weight: 900;
      font-size: 1.5em;
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba(var(--gradient-color-main), $i * 0.2) 0%,rgba(var(--gradient-color-secondary), $i * 0.2) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba(var(--gradient-color-main), 1 - (($i - 5) * 0.2)) 0%,rgba(var(--gradient-color-secondary), 1 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}


/* todo positioning */
ol.todos-list {
  > li.todo {

    display: flex;
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;

    svg {
      fill: var(--primary-color-light)
    }

    .todo-text {
      width: auto;
      margin-right: auto;      
    }

    .todo-check.done {
      svg {
        margin-top: -3px;
      }
    }

    .todo-check.undone {
      svg {
        margin-top: 3px;
        fill: var(--primary-color-light)
      }
    }    

    .todo-del {
      /*
      width: 20px;
      padding-right: 1em;
      */
    }
  }
}


/* hovers */
ol.todos-list {
  > li.todo {
    .todo-check:hover {
      cursor: pointer;
      svg {
        fill: var(--accent-color);
      }
    }
    .todo-del:hover {
      cursor: pointer;
      svg {
        fill: var(--accent-color);
      }
    }
  }
}


div.todos-footer {
  padding: 2em 0;
  
  .question {
    color: var(--accent-color-light);
    cursor: pointer;
    padding: 0.25em 0;

    &:hover {
      color: var(--accent-color);
    }
  }
}