nav.page-header {
  // Positioning
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;  

  // Look and feel

  background-color: var(--header-bg-color);

  @media screen and (min-width: 600px) {
    padding-left: 4em;
    padding-right: 4em;
  }

  .grid {
    display: grid;
    grid-template-columns: var(--header-logo-width) auto;
    padding: 1em;
    height: var(--header-grid-height);

    @media screen and (max-width: 600px) {
      grid-template-columns: var(--header-logo-width-resp) auto;
      height: var(--header-grid-height-resp);
    }

    div.logo {
      display: flex;
      align-items: baseline;

      div:last-child {
        padding-left: 1em;
        color: var(--accent-color-light);
      }

      img {
        width: 125px;
        
        @media screen and (max-width: 600px) {
          width: 100px;
          margin-left: 0.5em;
        }
      }

    }


    div.toolbar {
      a {
        &:not(:last-child) {
          padding-right: 1em;

          @media screen and (max-width: 600px) {
            padding-right: 0.5em;
          }
        }

        img {
          width   : 1em;
          top     : -0.05em;
        }        
      }      
    }
  }

  .grid {

    div.toolbar {
      text-align: right;
    }
  }
}